{
   "parser": "typescript",
   "singleQuote": true,
   "printWidth": 110,
   "useTabs": false,
   "semi": true,
   "tabWidth": 3,
   "quoteProps": "as-needed",
   "jsxSingleQuote": true,
   "trailingComma": "all",
   "arrowParens": "always",
   "endOfLine": "auto",
   "bracketSpacing": true,
   "jsxBracketSameLine": false,
   "requirePragma": false,
   "insertPragma": false,
   "proseWrap": "preserve",
   "vueIndentScriptAndStyle": false
}
